body {
    background-color: #eb3a0b;
}

/*.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}
*/

/* Order Confirmation */

#confirmation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1900px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  font-family: system-ui;
  opacity: 0;
  background: '#132340';
  text-align: left;
  transition: visibility 0s, opacity 0.5s linear 0.5s;
}

#confirmation h3 {
  font-size: 42px;
  font-weight: 400;
  color: #c8f0ff;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

#confirmation .status {
  color: #c8f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 75px 0 275px;
  max-width: 75%;
  height: 350px;
  margin: 100px auto;

  box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15);
  border-radius: 6px;
  border: 2px solid #8bacb9;
}

#confirmation .status.error {
  display: none;
}

#confirmation .status.success {
  display: none;
}

#confirmation .status p {
  margin: 0 0 15px;
}

#confirmation .status li {
  margin-bottom: 5px;
  list-style: none;
}

/* Metamask Confirmation */

#metamask {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1900px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  font-family: system-ui;
  opacity: 0;
  background: #132340;
  text-align: left;
  transition: visibility 0s, opacity 0.5s linear 0.5s;
}


#metamask h3 {
  font-size: 42px;
  font-weight: 400;
  color: #c8f0ff;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

#metamask  .status {
  color: #c8f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 75px 0 275px;
  max-width: 75%;
  height: 350px;
  margin: 100px auto;

  box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15);
  border-radius: 6px;
  border: 2px solid #8bacb9;
}

#metamask .status.noMetamask {
  display: none;
}

#metamask .status p {
  margin: 0 0 15px;
}

#metamask .status li {
  margin-bottom: 5px;
  list-style: none;
}


.container img {
    width: 400px;
    margin-left: -200px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
}

.container .btn {
    position: absolute;
    top: 830px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #E6853B;
    color: #c8f0ff;
    font-size: 24px;
    padding: 20px 24px;
    border: 3px dotted white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 275px;
}

.container .btn:hover {
    background-color: orange;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  #confirmation .status {
    width: auto;
    height: auto;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  p.instruction {
    margin-top: -12px;
    font-size: 14px;
  }
  p.tip {
    margin-bottom: 0;
    font-size: 13px;
  }

  #confirmation .status {
    width: auto;
    height: auto;
    padding: 120px 15px 15px;
    background-size: 68px 86px;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15);
    border-radius: 6px;
  }
  #confirmation h3 {
    text-align: center;
  }
}
