<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../public/alicetoken/main.css"/>

    <title>Vacation Mood Collectible Token</title>
</head>
<body>
      <div class="container">
        <img src='landingPage.png'>
        <button id="getTokenButton" type="button" class="btn" onclick="mint()">Get Your Collectible</button>
      </div>



      <div id="metamask">
        <div class="status noMetamask">
          <h3>Hi!</h3>
          <p>In order to obtain the token you should first download Metamask.</p>
          <p class="note">To download Metamask, head to the Chrome Web Store. Once downloaded create an account and store the seed phrase.</p>
        </div>
      </div>

      <div id="confirmation">
        <div class="status success">
          <h3>Thank you!</h3>
          <p>Woot! You successfully requested the Alice token.</p>
          <p class="note">We just sent it to your address, look at the transaction hash and download the ebook here.</p>
        </div>

        <div class="status error">
          <h3>Oops, token request failed.</h3>
          <p class="note">It looks like your request could not be processed at this time. Please try again soon.</p>
          <p class="error-message"></p>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
      <script src="../public/alicetoken/main.js"></script>
</body>
</html>
