<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block twitter_meta %}
  {% endblock %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/userfeed/timeline.css">

  <title>User Feed</title>
</head>
<body class="d-flex flex-column">
  <header class="header">
    <div class="container">
      <img class="pizza" src="/images/pizza.png">
    </div>
  </header>

  <article class="container flex-grow-1">
    {% block page_content %}
    {% endblock %}
  </article>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-start align-items-center">
          <img src="/images/logo.png" height="40px"/>
        </div>
        <!-- projects d-flex justify-content-center align-items-center -->
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div id="link-wrapper nav">
            <a href="https://www.alicetoken.com">sea of tears</a>
            &nbsp; | &nbsp;
            <a href="http://spin.alicetoken.com">alice roulette</a>
            &nbsp; | &nbsp;
            <a href="http://www.wrestlemojis.com/">wrestlemojis</a>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-end align-items-center">
          <img src="/images/ethbadge.png" height="40px"/>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  {% block script_area %}
  {% endblock %}

</body>
</html>
