<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alice in Wonderland Spin Token</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/spin/dist/jquery.slotmachine.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" type="text/css" />
    <link rel="stylesheet" href="/spin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/spin/main.css" type="text/css" media="screen" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>
    <script src="/spin/dist/slotmachine.js"></script>
    <script src="/spin/dist/jquery.slotmachine.js"></script>
    <script src="/spin/main.js"></script>

  </head>

  <body>

    <div id="contract">
      <div class="container">
        <img src='images/aliceroulettelanding.png'>
      </div>
    </div>

    <div id="metamask">
        <div class="status noMetamask">
          <h3>Welcome!</h3>
          <p>In order to obtain the token you should first download Metamask.</p>
          <p class="note">To download Metamask, head to the Chrome Web Store. Once downloaded create an account and store the seed phrase.</p>
        </div>
      </div>

      <div id="confirmation">
        <div class="status success">
          <h3>Thank you!</h3>
          <p>Woot! You successfully requested the Alice token.</p>
          <p class="note">We just sent it to your address, look at the transaction hash and download the ebook here.</p>
        </div>

        <div class="status error">
          <h3>Oops, token request failed.</h3>
          <p class="note">It looks like your request could not be processed at this time. Please try again soon.</p>
          <p class="error-message"></p>
        </div>
      </div>

    <div id="randomize">
      <div class="container">


        <div class="row">
          <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div>
              <div id="machine1" class="randomizeMachine">
                <div><img src="images/cookietoken.png"></div>
                <div><img src="images/cuptoken.png"></div>
                <div><img src="images/watchtoken.png"></div>
                <div><img src="images/bluetoken2.png"></div>
                <div><img src="images/cardstoken.png"></div>
               
              </div>
              </div>
          </div>

          <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div>
              <div id="machine2" class="randomizeMachine">
                <div><img src="images/cardstoken.png"></div>
                <div><img src="images/cookietoken.png"></div>
                <div><img src="images/cuptoken.png"></div>
                <div><img src="images/bluetoken2.png"></div>
                <div><img src="images/watchtoken.png"></div>
              </div>
            </div>
          </div>

          <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div>
              <div id="machine3" class="randomizeMachine">
                <div><img src="images/cuptoken.png"></div>
                <div><img src="images/watchtoken.png"></div>
                <div><img src="images/bluetoken2.png"></div>
                <div><img src="images/cardstoken.png"></div>
                <div><img src="images/cookietoken.png"></div>
              </div>
            </div>
          </div>

            <button id="getTokenButton" type="button" class="btn">ROLL!</button>

        </div>

      </div>
    </div>

    <script>
const btn = document.querySelector('#getTokenButton');
var wheelSound = new Audio("sounds/wheelsound.mp3");
function stopAudio(audio) {
    audio.pause();
    audio.currentTime = 0;
}

const results = {
  machine1: document.querySelector('#machine1Result'),
  machine2: document.querySelector('#machine2Result'),
  machine3: document.querySelector('#machine3Result')
};
const element1 = document.querySelector('#machine1');
const element2 = document.querySelector('#machine2');
const element3 = document.querySelector('#machine3');

const randomQuantity = (min, max) => {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
};

const machine1 = new SlotMachine(element1, { active: randomQuantity(0, 4) });
const machine2 = new SlotMachine(element2, { active: randomQuantity(0, 4) });
const machine3 = new SlotMachine(element3, { active: randomQuantity(0, 4) });

function onComplete(active){}

btn.addEventListener('click', () => {
  wheelSound.play();
  setTimeout(() => machine1.shuffle(40, onComplete, randomize), 1000);
  setTimeout(() => machine2.shuffle(45, onComplete, randomize), 1500);
  setTimeout(() => machine3.shuffle(52, onComplete, randomize), 2000);
  setTimeout(() => stopAudio(wheelSound), 12000);
  setTimeout(() => mint(), 12000);

});
    </script>


  </body>
</html>
