{% extends 'base.html' %}

{% block twitter_meta %}
<meta name="twitter:card" id="" content="summary" />
<meta name="twitter:site" id="" content="@alexmat2on" />
<meta name="twitter:title" id="tokenName" content="{{ tokenInfo.name }}" />
<meta name="twitter:description" id="tokenDesc" content="{{ tokenInfo.description }}" />
<meta name="twitter:image" id="tokenThumb" content="{{ tokenInfo.image }}" />
{% endblock %}

{% block page_content %}
<div class="body-wrapper d-flex flex-column justify-content-center">
  <div id="main" class="container">
    <div class="row tokenInfo">
      <div class="col-md-4 tokenThumb">
        <img class="card-img" id="tokenThumb-1" src={{tokenInfo.image}}></img>
      </div>
      <div class="col-md-8">
        <div class="card-block" style="height: 100%;">
          <div class="card-body tokenBody d-flex flex-column">
            <h3 class="tokenName card-title" id="tokenName-1">{{ tokenInfo.name }}</h3>
            <p class="tokenDesc flex-grow-1" id="tokenDesc-1">{{ tokenInfo.description }}</p>
            <small class="tokenID text-muted">tokenID: {{ tID }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_area %}
<script src="/tokeninfo/main.js"></script>
<script>
var tokenID = null

{% if tID %}
  tokenID = {{ tID | dump | safe }}
{% endif %}
</script>
{% endblock %}
